@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: rgb(0, 0, 0); /* text color */
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset; /* background */
  transition: background-color 5000s ease-in-out 0s;
}
